body{
  background-color: grey; 
}
.wrapper{
  width: 650px;
  margin: 0 auto;
}
.screen{
  width: 390px;
  background-color: black;
  color: blanchedalmond;
  border-radius: 5px;
  height: 60px;
  text-align: right;
  font-size: 30px;
}
.calculator{
  padding: 40px 20px;
  margin: 0 auto;
  width: 400px;
  background-color: blue;
  border-radius: 10px;
  margin-top: 80px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-row-gap: 20px;
  margin-top: 40px;
}
.button{
  height: 60px;
  width: 92px;
  border-radius: 10px;
  cursor: pointer;
}
.button:focus{
  outline: none;
}
.button:nth-child(16n){
  grid-column: 4/5;
  grid-row:4/6;
  height: 145px;
}
.button:nth-child(17n){
  grid-column: 1/3;
  width: 195px;
}
.button-number:hover{
  background-color: #dc143c;
  transition: 0.3s all;
}
.button-operation:hover,
.button-result:hover {
  background-color: lime;
  transition: 0.3s all;
}
.button-clear:hover{
  background-color: orange;
  transition: 0.3s all;
}
.button-dot:hover{
  background-color: orchid;
  transition: 0.3s all;
}