*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
}
body{
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: #000000;
}
.time{
  font-size: 10rem;
}
.greeting-and-name{
  margin-bottom: 3rem;
  font-size: 3rem;
}
.focus{
  margin-bottom: 0.5rem;
  opacity: 0.6;
  font-size: 2rem;
}
@media (max-width:700px){
  .time{
    font-size: 6rem;
  }
}
