body{
  margin: 0;
  padding: 0;
}
.size-color{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.mainColor,.mainSize{
  display: flex;
  align-items: center;
}
.size,.color{
  margin-left: 20px;
}
